@use "../../root.scss";

.header {
    &__wrapper {
        padding: 2rem;
        width: 85%;
        margin: 0 auto;
        align-items: center;
        border-bottom: 1px solid #e6eef6;
        display: flex;
        justify-content: space-between;

        &-image {
            width: 250px;
        }

        &__section {
            gap: 2rem;
            display: flex;
            &-links {
                display: flex;
                gap: 1.5rem;
                font-size: 18px;
                :hover {
                  color: var(--accent);
        text-decoration: underline;
                }
            }
        }

    }
}